.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    margin-bottom: 70px;

    .text {
        display: flex;
        flex-direction: column;
        width: 60%;

        h1 {
            font-size: 65px;
            color: white;
            font-weight: bold;

            span {
                color: #FF0BE7;
            }
        }

        p {
            padding-top: 20px;
            color: white;
            width: 80%;
        }
    }

    .profile {
        width: 400px;
        height: 100%;
        border-radius: 20px;
        z-index: 1;
    }

    .blur {
        position: absolute;
        z-index: 0;
        top: -20px;
        left: 65%;
        background: linear-gradient(180deg,rgba(255, 0, 238, 0) 0%,#FF0BE7 100%);
        filter: blur(140px);
        width: 35%;
        height: 50%;
    }
}    

@media only screen and (max-width: 600px){
    .about {
        display: flex;
        flex-direction: column;
    
        .text {
            display: flex;
            align-items: center;
            width: auto;
            text-align: center;
            margin-bottom: 30px;

            h1 {
                font-size: 40px;
            }

            p {
                z-index: 1;
            }
        }
    
        .profile {
            width: 250px;
            height: 100%;
            border-radius: 20px;
        }
    
        .blur {
            top: 180px;
            filter: blur(125px);
            width: 35%;
            height: 55%;
        }
    }    
}