.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .personal {
        display: flex;
        align-items: center;

        .img {
            width: 70px;
            height: 100%;
        }

        h3 {
            color: #FF0BE7;
        }
    }

    .nav {
        display: flex;
        z-index: 1;

        p {
            color: white;
            cursor: pointer;
            padding: 0 15px;
        }
    }
}

@media only screen and (max-width: 600px){
    .header {
        justify-content: center;
        .personal {
            .img {
                width: 50px;
            }
    
            h3 {
                display: none;
            }
        }
    
        .nav {
            p {
                padding: 0 10px;
            }
        }
    }
}