.skills {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
    margin-bottom: 70px;

    .iconsSection {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 60px;
        padding-right: 20px;
        z-index: 1;

        .icons {
            font-size: 65px;
            color: white;
            transition: 0.5s all;
        }

        .icons:hover {
            color: #FF0BE7;
        }
    }

    .skillsText {
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 1;
        width: 42%;

        h1 {
            color: #FF0BE7;
            font-size: 60px;
            font-weight: bold;
        }

        p {
            color: white;
        }
    }

    .blur {
        position: absolute;
        z-index: 0;
        left: 10px;
        top: 530px;
        background: linear-gradient(180deg,rgba(255, 0, 238, 0) 0%,#FF0BE7 100%);
        filter: blur(160px);
        width: 30%;
        height: 70%;
    }
}

@media only screen and (max-width: 600px){
    .skills {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
        .iconsSection {
            order: 2;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 20px;
            padding-right: 0;
            z-index: 1;
    
            .icons {
                font-size: 45px;
                text-align: center;
            }
        }
    
        .skillsText {
            order: 1;
            display: flex;
            flex-direction: column;
            text-align: center;
            z-index: 1;
            width: auto;
            margin-bottom: 30px;
    
            h1 {
                font-size: 50px;
            }
        }
    
        .blur {
            display: none;
        }
    }
}